[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Infrared plugin for validating configuration changes applied to a TripleO deployment
[access "refs/*"]
	owner = group user/Artem Hrechanychenko (ahrechanychenko)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Artem Hrechanychenko (ahrechanychenko)
	label-Verified = -1..+1 group user/Artem Hrechanychenko (ahrechanychenko)
	push = group user/Artem Hrechanychenko (ahrechanychenko)
	read = group user/Artem Hrechanychenko (ahrechanychenko)
	rebase = group user/Artem Hrechanychenko (ahrechanychenko)
	removeReviewer = group user/Artem Hrechanychenko (ahrechanychenko)
	submit = group user/Artem Hrechanychenko (ahrechanychenko)
[access "refs/heads/*"]
	create = group user/Artem Hrechanychenko (ahrechanychenko)
	push = +force group user/Artem Hrechanychenko (ahrechanychenko)
	pushMerge = group user/Artem Hrechanychenko (ahrechanychenko)
	read = group user/Artem Hrechanychenko (ahrechanychenko)
[access "refs/tags/*"]
	push = group user/Artem Hrechanychenko (ahrechanychenko)
	push = +force group user/Artem Hrechanychenko (ahrechanychenko)
